.navbar_mobile {
    display: none;
}
@media (max-width: 650px) {
    .navbar_mobile {
        display: block;
    }
}

.burger_icon {
    color: #fff;
    transition: 0.3s;
}
.burger_icon:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.close_menu {
    color: #fff;
    transition: 0.3s;
}

.close_menu:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.panel_navigate {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #000;
    height: 60px;
    z-index: 1;

    animation-name: showPanel;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.panel_navigate a {
    color: rgba(255, 255, 255, 0.58);
    font-size: 16px;
    font-weight: 600;   
    text-decoration: none;
    height: 100%;
    padding: 20px;
    transition: 0.3s;

}

.panel_navigate a:hover:not(.active) {
    color: #fff;
}

.panel_navigate .active {
    position: relative;
    font-family: "DM Serif Display", serif;
    color: rgb(198, 172, 25);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel_navigate .active::before {
    position: absolute;
    display: block;
    content: '';

    bottom: 0;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    animation-name: showBorderBottom;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    transition-duration: 0.3s;
}

@media (max-width: 450px) {
    .panel_navigate a {
        font-size: .7em;
    }
}
@media (max-width: 400px) {
    .panel_navigate a {
        font-size: .6em;
    }
}

@keyframes showPanel {
    0% {
        opacity: 0.5;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 60px;
    }
}