.box_galery_page {
    position: relative;
    width: 100vw;
    padding-top: 80px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.946);
    padding: 20px;
}


.box_galery_page h2 {
    font-size: 42px;
    text-align: center;
}
.box_title_chapter {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 20px 0 20px;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.524);
    z-index: 5;
}
.box_title_chapter h2 {
    font-size: 32px;
    color: white;
}

.box_title {
    position: relative;
    width: fit-content;
}
.box_title button {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
}
.btn_back {
    top: 50%;
    transform: translateY(-50%);
    left: -250px;
}
.btn_next {
    top: 50%;
    transform: translateY(-50%);
    right: -250px;
}
.btn_go_main {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff52;
    transition: 0.3s;
}
.btn_go_main button:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: border, color 0.3s ease-in-out;
}

.mobile_left_switch {
    display: none;
}
.mobile_right_switch {
    display: none;
}

@media (max-width: 1000px) {
    .box_title_chapter h2 {
        font-size: 26px;
    }
    .btn_back, .btn_next {
        font-size: 15px;
    }
    .btn_back {
        left: -200px;
    }
    .btn_next {
        right: -200px;
    }
    .btn_go_main {
        width: 40px;
    }
    
}
@media (max-width: 750px) {
    .box_title_chapter h2 {
        font-size: 18px;
    }
    .btn_back, .btn_next {
        display: none;
    }
    .btn_go_main {
        width: 30px;
    }
    .box_title {
        position: relative;
        width: 60%;
    }
    .mobile_left_switch {
        position: absolute;
        left: 10%;
        top: 60%;
        transform: translateY(-50%);
        display: block;
        font-size: 60px;
        color: #fff;
    }
    .mobile_left_switch i {
        font-size: 26px;
    }
    .mobile_right_switch {
        position: absolute;
        right: 10%;
        top: 60%;
        transform: translateY(-50%);
        display: block;
        color: #fff;
    }
    .mobile_right_switch i {
        font-size: 26px;
    }
}

@media (max-width: 550px) {
    .box_title {
        width: 75%;
    }
    .mobile_left_switch {
        left: 2%;
    }
    .mobile_right_switch  {
        right: 2%;
    }
}

.box_images {
    width: 100%;
    padding: 80px 0 0;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    animation-name: showGaleryPage;
    animation-duration: 0.4s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    transition: 0.3s easec;
}
.box_img {
    width: 32%;
    height: 50vh;
    margin: 20px 0 20px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .box_img {
        width: 47%;
        height: 100%;
        margin: 10px 5px;
        cursor: pointer;
    }

}


.box_img img {
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@keyframes showGaleryPage {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}