.home {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    left: 0;
    right: 0;
    min-width: 100vw;
    height: 100vh;
    padding: 0 30px 30px;
    background: url(./home_image/img_main1.jpg) center -50px no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
    background-position: center;
}
@media (max-width: 500px) {
    .home {
        padding: 0 10px 20px;
    }
}
@media (max-width: 400px) {
    .home {
        /* background: url(./home_image/img_main1.jpg) center -300px -100px no-repeat; */
        padding: 0 10px 20px;
    }
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 10px;
    min-height: 260px;
    width: 50%;
    color: #fff;
}
.preview h1 {
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    animation-delay: 0.2s;
}
@media (max-width: 1000px) {
    .preview {
        width: 70%;
    }
    .preview h1 {
        font-size: 2em;
    }
    .preview p {
        font-size: 0.5em;
    }
}
@media (max-width: 600px) {
    .preview {
        width: 100%;
        padding: 10px 5px;
    }
    .preview h1 {
        font-size: 1.8em;
    }
    .preview p {
        font-size: 0.4em;
    }
}

.preview p {
    font-size: 1em;
    animation-delay: 0.5s;
}
.preview h1, p {
    display: inline-block;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.5s ease;
    animation: showText 0.6s linear both;

}

@keyframes showText {
    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0, 0);
    }
}
