.about_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;  
	padding: 100px 0 0 80px;
    background-color: black;
    animation-name: showGradient;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    view-timeline-name: --showGradient;
    animation-timeline: --showGradient;
    animation-range: 15% 45%;
    transition: all 0.4s ease;
    filter: grayscale(100%);
}

.box_info {
    width: 60%;
    height: 100%;
}
.box_info h2 {
    font-size: 52px;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    animation-name: showInfoTitle;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    view-timeline-name: --showInfoTitle;
    animation-timeline: --showInfoTitle;
    animation-range: 10% 40%;
    transition: all 0.4s ease-in-out;
    color: #fff;

    opacity: 0;
    transform: translateX(-50%);
}
.title_gradient {
    font-family: "DM Serif Display", serif;
    color: rgb(198, 172, 25);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box_info ul {
    list-style-type: none;
    line-height: 25px;
    color: #fff;
}
.box_info ul li {
    margin-bottom: 20px;
    animation-name: showInfoText;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    view-timeline-name: --showInfoText;
    animation-timeline: --showInfoText;
    animation-range: 10% 35%;
    transition: all 0.4s ease;

    opacity: 0;
    /* transform: translateX(-120%); */
}

.box_info ul li:nth-child(1) {
    animation-delay: 0.5s;
}
.box_info ul:nth-child(2) {
    animation-delay: 1s;
}
.box_info ul:nth-child(3) {
    animation-delay: 1.5s;
}
.box_info ul:nth-child(4) {
    animation-delay: 2s;
}


.about_me img {
    width: 35%;
    height: 100%;
    margin-right: 40px;
    opacity: 0;
    animation-name: showImage;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    view-timeline-name: --showImage;
    animation-timeline: --showImage;
    animation-range: 15% 30%;
    transition: opacity 0.6s ease-in-out;
    object-fit: cover;

}

@keyframes showImage {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;       
    }
    100% {
        opacity: 1;
    }
}

@keyframes showGradient {
    0% {
        filter: grayscale(100%);
    }
    25% {
        filter: grayscale(75%);
    }
    50% {
        filter: grayscale(50%);
    }
    80% {
        filter: grayscale(25%);
    }
    100% {
        filter: grayscale(0%);
    }
}

@keyframes showInfoTitle {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-25%);
    }
    /* 75% {
        transform: translateX(5%);
    } */
    100% {
        opacity: 1;
        transform: translateX(0%);
        /* color: rgb(160, 21, 21); */
    }
}

@keyframes showInfoText {
    0% {
        opacity: 0;
        transform: translateY(120%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(60%);
        /* letter-spacing: 2; */
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}